@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$transparent-white: hsla(0, 0%, 100%, 0.75);
$transparent-30-white: hsla(0, 0%, 100%, 0.3);
$very-light-gray: hsl(0, 0%, 95%);
$font-big-shoulders-display: 'Big Shoulders Display', sans-serif;
$border-radius: .725rem;


:root {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  clear: both;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  background-color: #ddd;
  color: #fff;

  footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    z-index: 0;

    p {
      text-align: center;
    }

    a {
      color: #eee;
      text-decoration: none;
    }
  }

  > main {
    width: 100%;
    padding: 25% 0;
    display: flex;
    justify-content: center;

    @media (min-width: 1440px) {
      padding: 0;
      align-items: center;
      height: 100vh;
    }
  }

  picture {
    display: block;
    width: 100%;
    
    img {
      display: block;
      width: 100%;
    }
  }

  h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  h1, p {
    margin-top: 0;
  }
}

.card-list {
  z-index: 1;
  margin: 0 1.5rem;


  .card:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .card:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .card {
    max-width: 375px;
    padding: 3rem;
    background-color: #fff;
    z-index: 1;
    background-color: var(--main-card-color);

    .card__image img {
      display: block;
      margin-bottom: 2rem;
    }

    .card__content p {
      color: $transparent-white;
    }

    .card__content button {
      border: none;
      border-radius: 2rem;
      background-color: $very-light-gray;
      font-family: inherit;
      font-size: 1.25rem;
      padding: 1rem 2rem;
      color: var(--main-card-color);
      border: 1px solid transparent;
      transition: background-color .3s linear, border .3s linear;

      &:active, &:hover {
        border: 1px solid $very-light-gray;
        color: $very-light-gray;
      }

      &:hover {
        background-color: $transparent-30-white;
      }

      &:hover:active {
        background-color: transparent;
      }
    }
  }

  @media (min-width: 1440px) {
    & {
      display: flex;

      .card:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-top-right-radius: 0;
      }
    
      .card:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      .card {
        transition: transform .3s linear;
        
        &:hover {
          transform: scale(1.1, 1.1);
          z-index: 2;
        }

        .card__content button {
          margin-top: 5rem;
        }
      }
    
    }
  }
}